/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #ab45d3;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
h6{
  font-weight: normal;
}
/* SIDE BAR */
.profile-heading{
  color: #ffffff;
  text-align: right;
  top:10%;
}
.sidebar {
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25)); /* black background color */
  width: 15.726rem; /* width of the sidebar */
  height: 97%; /* height of the sidebar */
  position: fixed; /* make the sidebar fixed */
  top: 2%; /* align the top of the sidebar to the top of the page */
  left: 1%; /* align the left of the sidebar to the left of the page */
  bottom:1%;
  border-radius: 0.75rem; /* rounded radius for the bottom right corner */
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
  transition: left 0.5s ease;
}
@media (max-width: 768px) {
  .sidebar {
    left: -200px; /* move the sidebar to the left by the width of the sidebar */
  }
}

.profile-option,
.generate-option,
.request-option {
  position: relative;
  color: #ffffff; /* white text color */
  padding: 24px 32px 8px;
  text-align: left;
  font-size: 16px; /* set the font size of the options */
  cursor: pointer; /* add a pointer cursor to the options */
  transition: background-color 0.3s ease; /* add transition property */
  border-radius: 7px; /* add rounded corners */
  padding: 8px 12px; /* reduce padding to make the box smaller */
  width:200px;
  
  margin: 1.09375rem ;
}


.profile-option:hover,
.generate-option:hover,
.request-option:hover {
  background-color: rgba(128, 128, 128, 0.5);; /* change the background color of the option on hover */
  color: #ffffff; /* change the text color of the option on hover */
  transition: color 0.3s ease;
  border-radius: 7px; /* add rounded corners */
  padding: 8px 12px; /* reduce padding to make the box smaller */
  width:200px;
}

.profile-option:hover,
.generate-option:hover,
.request-option:hover,
.profile-option:hover *:not(.sidebar-icon),
.generate-option:hover *:not(.sidebar-icon),
.request-option:hover *:not(.sidebar-icon) {
  color: #ffffff;
  transition: color 0.3s ease;
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.profile h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.button-icon i {
  font-size: 24px;
}
.option-left{
  margin-left: 50px;
}
.atag{
  text-decoration: none;
  color:#ffffff;
}
#selectedbutton{
 /* background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232)); change the background color of the option on hover */
  color: #ffffff; /* change the text color of the option on hover */
  transition: color 0.3s ease;
  border-radius: 7px; /* add rounded corners */
  padding: 8px 12px; /* reduce padding to make the box smaller */
  width:200px;
  
}
#logoutbutton{
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232)); /* change the background color of the option on hover */
  color: #ffffff; /* change the text color of the option on hover */
  transition: color 0.3s ease;
  border-radius: 7px; /* add rounded corners */
  padding: 11px 7px; /* reduce padding to make the box smaller */
  width:200px;
  top:84%;
  text-align: center;
  font-weight: bold;
  position: fixed;
}
.divider {
  
    border-top: 0px solid rgba(0, 0, 0, 0.08);
    border-right: 0px solid rgba(0, 0, 0, 0.08);
    border-left: 0px solid rgba(0, 0, 0, 0.08);
    height: 0.0625rem;
    margin: 1rem 0px;
    border-bottom: none;
    opacity: 0.25;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0)) !important;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  gap: 30px;
}

.addNew {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
}

.student-record {
  background: #fff;
  border-radius: 4px;
  margin: 20px 20px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.student-record h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.student-record p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.student-record span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.main-content{
  margin-left: 300px;
}

/* POP UP */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
form.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.popup{

  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 200px;
  border-color: white;

}

.popup-inner{
  border-style: solid;
  border-width: 10px;
  border-color: white;

  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 40px;
  max-width: 900px;
  background-color: #FFF;
}

.popup-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}

.edit-student{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 16px;
  right: 16px;
  margin: 4px;
}

/* GPA, COURSES, PROFILE POPUP ,GRADUATIONREQUIREMENTS*/

.details{
  margin: 30px;
  background-color: #afacac;
  padding: 30px;
}

/* COURSE HISTORY */
.student-course-history {
  background: #fff;
  border-radius: 4px;
  margin: 20px 20px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.student-course-history {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.student-course-history p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.student-course-history span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.edit-course-marks{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 16px;
  right: 16px;
  margin: 4px;
}

.edit-component-button{
  display: inline;
  background: rgb(230, 228, 228);
  border: 0;
  color: #000000;
  padding: 10px;
  font-family: "Poppins";
  cursor: pointer;
  position: relative;
  margin: 10px;
}

.close-course-history{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 0px;
  right: 16px;
  margin: 4px;
}

/* GPA CALCULATOR */

.get-GPA {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 15px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 0px;
  right: 10px;
  margin: 4px;
}

.close-GPA-cal{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 0px;
  right: 16px;
  margin: 4px;
}

/* TRANSCRIPT REQUESTS -- ADMIN SIDE */

.transcript-requests-cards {
  background: #fff;
  border-radius: 4px;
  margin: 50px 20px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.transcript-requests-cards h4 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.transcript-requests-cards p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

/*GRADUATION REQUIREMENTS*/
